version: "3.9"

services:
  backend1:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    container_name: chat_backend
    ports:
      - "4001:8000"

    environment:
      # Database
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: chat-app
      PYTHONUNBUFFERED: 1
      # Redis
      # REDIS_HOST: redis
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./app:/app/app
    networks:
      - chat-network
    restart: unless-stopped
  postgres:
    image: postgres:15-alpine
    container_name: chat_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: chat-app
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - chat-network
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local

networks:
  chat-network:
    driver: bridge
